<style>
  .search-btn{
    background-color: #fe424d;
    color:#fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color:#fff;
  }
  .search-btn i{
    display:inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius:25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
  .wishlist-link {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
  }
  .wishlist-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #fe424d;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.7rem;
    font-weight: bold;
  }
  .theme-toggle {
    background: none;
    border: 2px solid var(--text-primary);
    color: var(--text-primary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin-left: 0.5rem;
  }
  .theme-toggle:hover {
    background-color: #fe424d;
    border-color: #fe424d;
    color: white;
    transform: rotate(180deg);
  }
  .navbar {
    background-color: var(--navbar-bg) !important;
  }
</style>

<nav class="navbar navbar-expand-md border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" style="background-color: #fff;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-inp"
          type="search"
          placeholder="Search destinations">
          <button class="btn search-btn" type="sumbit">
                <i class="fa-solid fa-magnifying-glass "></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto d-flex align-items-center">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser)  { %>
        <a class="nav-link"  href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) { %>
        <a class="nav-link" href="/recommendations" title="For You">
          <i class="fa-solid fa-sparkles" style="color: #fe424d; font-size: 1.2rem;"></i>
        </a>
        <a class="nav-link wishlist-link" href="/wishlist" title="My Wishlist">
          <i class="fa-solid fa-heart" style="color: #fe424d; font-size: 1.3rem;"></i>
        </a>
        <span class="nav-link">Hi, <%= currUser.username %>!</span>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
        <button id="theme-toggle" class="theme-toggle" title="Toggle Dark/Light Mode">
          <i id="theme-icon" class="fa-solid fa-moon"></i>
        </button>
      </div>
    </div>
  </div>
</nav>